# Virtual environments
venv/
venv311/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite DB
*.db

# Environment files
.env

# Pytest
.pytest_cache/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db